* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
    padding: 20px;
  }
  
  header {
    text-align: center;
    background: #2c3e50;
    color: #ecf0f1;
    padding: 50px 0;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    color: #63676a;
  }
  
  
  .image-section {
    text-align: center;
    margin-top: 30px;
  }
  
  picture img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  
  
  footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color:rgb(30, 39, 48);
    color: rgb(246, 238, 238);
  }
  
  footer p {
    font-size: 1em;
    color: #f4f4f4;
  }
  